.About{
    position: absolute;

    margin-top: 1780px;
    color: rgb(255, 255, 255);
    background: image("./folioCards/images/inkon.jpeg");
    width: 1440px;
    height: 550px;
}

.aboutHead{
    background-color: rgb(8, 8, 8);
    height: 50px;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: -1px 2px 1px rgb(124, 129, 141);
    opacity: 1;
}

.aboutHead h3{
    
    margin-left: 0px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 5000;
    color: rgb(105, 100, 100);
    padding-top: 15px;
    text-shadow: 2px 1px 3px rgb(46, 50, 56);
}


.aboutText{
    display: flex;
    gap: 30px;

    padding: 10px;
    margin-top: 20px;

}

p{
    margin-left: 70px;
}

.aboutText2{
    padding-right: 120px;
}

img{
    height: 40px;
}

.TextHead{
    display: flex;
    gap: 20px;
    margin-left: 10px;
}