.container {
    position: absolute;
    background: #9e884c;
    width: 1040px;
    height: 367px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr 0.8fr 0.4fr 0.2fr ;

    grid-template-areas: 
        'head'
        'skills'
        'portfolio'
        'about'
        'foot'
    ;
}

.Header {
    grid-area: head;
    position: relative;
}

.SkillsPage {
    grid-area: skills;
    position: relative;
}

.Portfolio {
    grid-area: portfolio;
    position: relative;
}

.AboutMe {
    grid-area: about;
    position: relative;
}

.Footer {
    grid-area: foot;
}
